<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WordList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>595DFD501E8E387F00643C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>595DFD641E8E388000643C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>595DFD6F1E8E388000643C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
